/* current image root extension for deployment: https://wley3337.github.io/madhatter */


body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url('/img/adjusted-frame.png') no-repeat center center fixed;
  background-size: 100% 100%;
}


/* MAIN STYLING */
#main{
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows:  45px 1fr .5;
  grid-template-areas: 
  " ."
  "body" 
  "home-button";
}

#home-icon-div{
  grid-area: home-button;
  display: grid;
  grid-template-columns: auto 1fr auto;
  /* grid-template-rows: auto 1fr; */
  
}
#home-link{
  grid-column-start: 2;
  grid-column-end: 3;
  /* grid-row-start: 2;
  grid-row-end: 3; */
  justify-self: center;
  /* align-self: end; */
  height: 65px;
  width: 65px;
  background: url("https://wley3337.github.io/madhatter/img/white-icon.png") no-repeat center center;
  background-size: 140%;
}


/* MAIN MENU STYLING */

#main-menu{
  height: 100%;
  width: 100%;
  grid-area: body;
  display: grid;
  grid-template-columns: auto 80% auto;
  grid-template-rows: auto 70% auto;
}
#main-menu .carousel{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start:2;
  grid-row-end: 3;
}

#about-img{
  padding-top: 50px;
  padding-bottom: 60px;
  height: 100%;
  width: 100%;
}
#projects-img{
  height: 100%;
  width: 100%
}

.main-menu-title-div{
  grid-column-start: 2;
  grid-column-end: 3;
  align-self: center;
  justify-self: center;
  text-align: center;
  font-weight: bold;
  letter-spacing: 1.5px;
}

#blogs-img{
  padding-top: 50px;
  padding-bottom: 60px;;
  height: 100%;
  width: 100%;
}

.main-menu-text{
  color: white;
  justify-self: center;
  text-align: center;
}
/* icon for forward and backward */
.carousel-control-prev{
  align-items: flex-end;
  opacity:1;
}
.carousel-control-prev-icon{
  background-image: url("https://wley3337.github.io/madhatter/img/to-the-left.png");
  background-size: 120%;
  opacity: .9;
  border-radius: 20px;
  width: 30px;
  height: 30px;
  animation: glow 4s ease-out infinite;
}
.carousel-control-next{
  align-items: flex-end;
  opacity:1;
}
.carousel-control-next-icon{
  background-image: url("https://wley3337.github.io/madhatter/img/to-the-right.png");
  background-size: 120%;
  border-radius: 20px;
  width: 30px;
  height: 30px;
  animation: glow 4s ease-out infinite;
}


@keyframes glow{
  0% {
    opacity: .5;
    transform: scale(.5);
  }
  80% {
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: .5;
  }
}
.main-menu-icon{
 
  grid-column-start: 2;
  grid-column-end: 3;
  justify-self: center;
  height: 90px;
  width: 90px;
  background: url("https://wley3337.github.io/madhatter/img/white-icon.png") no-repeat center center;
  background-size: 140%; 
}


/* ABOUT PAGE STYLING */

.about-main{
  grid-area: body;
  justify-self: center; 
  display: grid;
  content: normal;
  grid-template-rows:   30px 470px 1fr ;
  grid-template-columns: 30px minmax(310px,330px) 30px;
}
.about-bg{
  padding: 10px;
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
  height: 100%;
  width: 100%;
  /* display: grid; */
  overflow-y: scroll;
  background-color: rgb(156,77,204, .6);
}
.text{
  color: #fff;
  opacity: 1;
  letter-spacing: 1px;
}
.about-bg > div{
  background: rgb(56,0,107, .8);
  padding: 9px;
  min-height: 450px;
  
}

/* CONTACT STYLING */

.contact-wrapper{
  padding: 10px;
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
  height: 100%;
  width: 100%;
  display: grid;
}

.contact-email{
  justify-self: center;
  margin-top: 100px;
  font-size: 150%;
}

.contact-link-wrapper{
  justify-content: space-evenly;
  display: flex;
}
.contact-linked-in{
  line-height: 10;
  background: url("https://wley3337.github.io/madhatter/img/linked-in.png") no-repeat center center;
  background-size: 85%;
  height: 80px;
  width: 80px;
  background-color: rgb(129,212,250, .4);
  border-radius: 25px; 
}
.contact-github{
  line-height: 10;
  background: url("https://wley3337.github.io/madhatter/img/chesserOctocat.png") no-repeat center center;
  background-size: 100%;
  height: 80px;
  width: 80px;
  background-color: rgb(129,212,250, .4);
  border-radius: 25px;
}
.contact-medium{
  color: #b6ffff;
  padding-top: 55px;
  font-size: 90%;
  background: url("https://wley3337.github.io/madhatter/img/reporter-hat-with-card.png") no-repeat center;
  background-size: 80%;
  text-align: center;
  height: 80px;
  width: 80px;
  background-color: rgb(129,212,250, .4);
  border-radius: 25px;
}


/* SUB MENU STYLING */
.about-submenu-wrapper{
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 2;
  grid-column-end: 3;
  display: grid;
  grid-template-rows:    1fr 1fr ;
  grid-template-columns: 1fr 1fr 1fr;
}

.about-submenu-1{
  justify-self: center;
  text-align: center;
  vertical-align: middle;
  font-size: 90%;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  height: 70px;
  width: 70px;
}

.about-submenu-2{
  justify-self: center;
  text-align: center;
  vertical-align: middle;
  font-size: 90%;;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  height: 70px;
  width: 70px;
}

.about-submenu-3{
  padding-top: 8px;
  justify-self: center;
  text-align: center;
  vertical-align: middle;
  font-size: 90%;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  height: 70px;
  width: 70px;
}

.what-will-knows-bg{
  line-height: 8;
  background: url("https://wley3337.github.io/madhatter/img/about-hat.png") no-repeat center center;
  background-size: 100%;
  height: 65px;
  width: 65px;
}

.in-a-nutshell-bg{
  line-height: 10;
  background: url("https://wley3337.github.io/madhatter/img/nutshell.png") no-repeat center center;
  background-size: 140%;
  height: 65px;
  width: 65px;
}

.exploration-bg{
  background: url("https://wley3337.github.io/madhatter/img/explore-icon.png") no-repeat center center;
  background-size: 140%;
  height: 65px;
  width: 65px;
  line-height: 9;
}

.contact-bg{
  line-height: 10;
  vertical-align: bottom;
  background: url("https://wley3337.github.io/madhatter/img/mail.png") no-repeat center center;
  background-size: 100%;
  height: 65px;
  width: 65px;
}


/* PROJECT PAGE STYLING */

.project-main{
  grid-area: body;
  padding: 10px;
  justify-self: center; 
  width: 85%;
  height: 500px;
  overflow-y: scroll;
  background: rgb(156,77,204, .8);
  /* border-radius: 5%; */
  /* display: grid; */
  /* grid-template-rows:   30px 230px 280px 1fr ;
  grid-template-columns: 30px minmax(300px,1fr) 30px;
  grid-row-gap: 10px; */
}
.project-main-content{
  background: rgb(56,0,107);
  justify-self: center;
  padding: 5px;
  overflow-y: scroll;
  height: 100%;
  /* margin: 10px; */
  /* width:75%; */
}
/* .project-main-working{
  padding: 9px;
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
  display: grid;
  grid-template-rows: 40px 170px;
  background: rgb(156,77,204, .65);
} */

.project-sub-heading{
  padding: 3px;
  margin: 5px;
  font-weight: 400;
  /* grid-row-start: 1;
  grid-row-end: 2; */
  text-align: center;
  letter-spacing: 1.5px;
 
  /* border-bottom: 1px solid black; */
 
}

/* .in-progress-wrapper, .projects-wrapper{
  grid-row-start: 2;
  grid-row-end: 3;
  overflow-y: scroll;
  height: 100%;
  width: 100%; 
} */

/* 
.project-main-projects{
  padding: 10px;
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 2;
  grid-column-end: 3;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 40px 220px;
  border-radius: 5%;
} */
/* 
.project-main-projects > p{
  font-weight: 200;
  grid-row-start: 1;
  grid-row-end: 2;
  border-bottom: 1px solid black;
} */


.project-brief-div{
  padding: 4px;
  border-bottom: 1px solid black;
  font-size: 80%;

}

.project-header{
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  grid-template-areas: "title blank icon";
  justify-content: space-evenly;
  width: 100%;
  padding: 2px;
}
.project-brief-title{
  grid-area: title;
  letter-spacing: 1.5px;
  font-weight: bold;
  align-self: center;
  font-size: 105%;
  
}

.project-header > a{
  grid-column-start: 4;
  grid-column-end: 5;

}
.project-github{

  background: url("https://wley3337.github.io/madhatter/img/chesserOctocat.png") no-repeat center center;
  background-size: 100%;
  height: 40px;
  width: 40px;
  background-color: rgb(129,212,250, .4);
  border-radius: 25px;
}

.project-brief-desc{
  font-weight: 200;
}

.project-brief-tech{
  font-weight: 200;
}
.project-brief-tech > strong{
  font-weight: bold;
  font-size: 95%;
  letter-spacing: .9px;
}


/* BLOG STYLING */


.blogs-main{
  grid-area: body;
  padding: 8px;
  justify-self: center; 
  display: grid;
  content: normal;
  grid-template-rows:   85px 490px ;
  grid-template-columns: minmax(270px, 350px);
  /* grid-row-gap: 10px; */

}

.blogs-main-title{
  /* background: rgb(56,0,107); */
  padding: 9px;
  font-weight: 200;
  font-size: 92%;
  text-align:center;
  grid-row-start: 1;
  grid-row-end: 2;
  height: 100%;
  width: 100%;
  /* background-color: rgb(129,212,250, .4); */
  background: rgb(56,0,107);
}



.blogs-link-text{
 color:rgb(182,255,255);
 letter-spacing: 1.5px;
 text-decoration: underline;
}
.blogs-details-wrapper{
  padding: 9px;
  padding-top: 11px;
  grid-row-start: 2;
  grid-row-end: 3;
  overflow-y: scroll;
  width: 350px;
  background: rgb(56,0,107);
}

.blog-detail{
  padding: 9px;
  background: rgb(106,27,154, .40);
  display: grid;
  grid-template-rows: .5fr 1fr; 
  border-bottom: 1px solid black; 
}

.blog-detail-header-wrapper{
  grid-row-start: 1;
  grid-row-end: 2;
  display: grid;
  grid-template-columns: 3fr .5fr 1fr;
  grid-template-areas: "title blank icon";
  justify-content: space-evenly;
}
.blog-detail-title{
  grid-area: title;
  /* letter-spacing: 1.5px; */
  font-weight: bold;
  font-size: 90%;
  align-self: center;
}

.blog-detail-img{
  grid-area: icon;
  align-self: center;
  justify-self: center;
}
.blogs-icon{
  background: url("https://wley3337.github.io/madhatter/img/reporter-hat-with-card.png") no-repeat center center;
  background-size: 80%;
  height: 50px;
  width: 50px;
  background-color: rgb(129,212,250, .4);
  border-radius: 25px; 
}


/* MIN WIDTH 751 */

@media (min-width: 751px) {
body {
  background: url('https://wley3337.github.io/madhatter/img/doors-background.png') no-repeat center center fixed;
  background-color: rgb(0,0,0); 
  background-size: 100% 100%;
}


#desktop-background{
    display: grid;
    grid-template-rows: 150px minmax(600px, 600px) 1fr;
    grid-template-columns: 1fr minmax(200px, 800px) 400px 50px;
    column-gap: 10px;
    grid-template-areas:  
      "dt1 dtheader dt2 dtfiller"
      "dt3 dtbody dt4 dtfiller"
      "dt5 dtfooter dt6 dtfiller";
}

#main{
  grid-area: dtbody;
  height: 100%;
  width:100%;
}

#main-menu{
  border-radius: 3%;
  padding: 20px;
  background: url('https://wley3337.github.io/madhatter/img/card-background-with-frame.png') no-repeat center center;
  background-size: 100% 100%;
  grid-area: dt4;
}
.main-menu-icon{
  opacity: 0;
}
.about-main{
  grid-template-rows:   30px 470px 1fr ;
  grid-template-columns: 30px minmax(300px,850px) 120px;
}

.about-bg{
  background-color: rgb(156,77,204, .9);

}
.about-bg > div{
  padding-bottom: 0;
}

.about-submenu-wrapper{
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 3;
  grid-column-end: 4;
  display: grid;
  grid-template-rows:    1fr 1fr 1fr ;
  grid-template-columns: 1fr;
  background-color:rgb(56,0,107, .9);
  margin: 3px;
  /* border-radius: 30%; */
}
.about-submenu-1{
  align-self: center;
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 2;
}

.about-submenu-2{
  align-self: center;
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 2;
}
.about-submenu-3{
  align-self: center;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 2;
}

.contact-wrapper{
  background: rgb(56,0,107, .95);
  border-radius: 10%;
  height: 400px;
  width: 500px;
  justify-self: center;
  align-self: center;
  display: grid;
}

.project-main{
  
  background: rgb(56,0,107, .95);
  border-radius: 5%;
  grid-template-rows:   10px 230px 280px 1fr ;
}

.project-sub-heading{
  margin-top: 8px;
  font-size: 120%;
}

.blogs-main{
  justify-self: center;
  background: rgb(56,0,107, .95);
  border-radius: 3%;
  grid-row-start:1;

  grid-template-rows:   85px 490px ;
  grid-template-columns: minmax(300px, 850px);
}

.blogs-main-title{
  padding-top: 20px;
  font-weight: 300 ;
  text-align: center;
  justify-self: center;
}

.blogs-details-wrapper{
  padding: 9px;
  grid-row-start: 2;
  grid-row-end: 3;
  overflow-y: scroll;
  width: 100%;
  background-color: rgb(129,212,250, .4)
}




}